
.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  
  mat-form-field {
    flex: 1;
    margin-right: 10px;
    
  }
  
  button {
    flex: 0 0 auto;
  }
  